.captioning{
    font-size: 12pt;
}
.site_font{
    font-family: Zeyada;
    color:rgb(44, 206, 44);
}
.green-text{
    color:rgb(44, 206, 44);
}
.button_resume{
    background-color: blueviolet;
}
p{
     font-family: Zeyada;
    color:rgb(44, 206, 44);
    font-size: 18pt;
}
h1{
    font-family: Zeyada;
    color:rgb(44, 206, 44);
    font-size: 4em;
}
h2{
    font-family: Zeyada;
    color:rgb(44, 206, 44);
    font-size: 3em;
}
h3{
    font-family: Zeyada;
    color:rgb(44, 206, 44);
    font-size: 2em;
}
h4{
    font-family: Zeyada;
    color:rgb(44, 206, 44);
    font-size:1em;
}
li{
    font-family: Italianno;
    color:rgb(44, 206, 44);
    font-size: 26pt;
}
.resume{
    background-color: floralwhite;
    margin-bottom: 5rem;
}

.hobbieContainer{
    margin-left: 0;
}

.no-margins{
    margin: 0;
}

.hobby-image{
    max-width: 400px;
    min-width: 200px;
    width: 400px;
    height:400px;
}

iframe{
    max-width: 400px;
    min-width: 200px;
}

#featured-3{
    margin: 0;
}

#aboutSummaryHeader{
    background-image: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%)
}

.restrictedSize{
    max-width: 400px;
    min-width: 200px;
}

.mytoggle{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;

    .button{
        background-color: #d2d2d2;
        width: 2em;
        height: 1em;
        border-radius: 200px;
        cursor: pointer;
        position: relative;
        transition: 0.2s;
    }
    .button::before{
        position: absolute;
        content: '';
        background-color: #fff;
        width: 1em;
        height: 1em;
        border-radius: 200px;
        transition: 0.2s;
    }
    input{
        display: none;
    }
    input:checked + .button{
        background-color: #20096d;
    }
    input:checked + .button::before{
        transform: translateX(-1em);
    }
    div{
        color: blue;
        font-size: 16pt;
    }
}

.websiteHeader{
    :last-child{
        align-content: center;
    }
}

@media(max-width:1000px) {
    #start_page_intro{
        order: -1;
        text-align: center;
    }
    #start_page{
        justify-content: center;
    }
    .hobby-image{
        width: 200px;
        height:200px;
    }
    iframe{
        width: 400px;
        height:200px;
    }
    .hobbie{
        order:2;
    }
    
}

.dark-mode{
    background-color: black;
}