body{
    min-width: 553px;
}

p{
    font-size: 2em;
    font-family: Italianno;
    color:#5b9e24;
}

h1{
    font-size: 5em;
    font-family: Zeyada;
    color:#22a622;
}

h2{
    font-size: 4em;
    font-family: Zeyada;
    color: blue;
}

h3{
    font-size: 2em;
    font-family: Italianno;
    color:#22a622;
}

h4{
    font-size:1em;
}

header{
    justify-content: center;
    border-style: inset;
    border-width: 10px;
    /*border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;*/
    border-color: rgb(44, 224, 44);
    border-top: 0;;
    display:block;
}

li{
    font-size: 3rem;
    font-family: Italianno;
    color:#22a622;
}

li li{
    font-family: Italianno;
    color:#5b9e24;
}

footer{
    background-image: url("../assets/images/leaf.gif");
    background-size: contain;
    background-repeat: round;
}

iframe{
    max-width: 400px;
    min-width: 200px;
}

.resume{
    background-color: floralwhite;
    margin-bottom: 5rem;
    padding:0;
}

.captioning{
    font-size: 2em;
}

.footer_text{
    font-size: 2em;
    font-family: Italianno;
    color:#5b9e24;
    text-wrap: none;
    margin-left: 1em;
}

.hobbieContainer{
    margin-left: 0;
}

.hobby-image{
    max-width: 400px;
    min-width: 200px;
    width: 400px;
    height:400px;
}

.green-on-black{
    color:rgb(127, 218, 52);
}

.pdf-container{
    justify-content: end;
    margin-bottom: 2em;
}

.pdf-button{
    border-radius: 20%;
    background-color: blue;
    color:rgb(127, 218, 52);
}

.customHeader{
    background-image: linear-gradient(90deg, #0033ff 0%, #2CCE2C 100%);
    padding-left: 10pt;
}

.fa {
  padding: 20px;
  font-size: 26px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.more-title{
    display: flex;
    margin-bottom: 3em;
}

.more-title-text{
    align-self: center;
    margin-left: .5em;
}

.more-icon{
    width: 100pt;
    height: 100pt;
}
.more-text{
    padding-left: 1em;
}

.span-clickable{
    color: blue;
    text-decoration-line: underline;
}

.span-clickable:hover{
    cursor: pointer;
}

.restrictedSize{
    max-width: 400px;
    min-width: 200px;
}

.websiteHeader{
    :last-child{
        align-content: center;
    }
}

.dropdown{
    display: none;
}

.dropdown-toggle{
    color:black;
    background-color: #22a622;
    border:none;
}
.dropdown-toggle:hover{
    background-color: blue;
}

.dropdown-item{
        color: blue;
}
.dropdown-item:hover{
    color:blue;
}

.dropdown-toggle:focus{
    background-color: blue;
}

.for-pdf{
    background-color: white;
    color:black;
    background-image: none;

}

.page{
    position: relative;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease
}

.show{
    transform: translateX(0);
    opacity: 1;
}

.textCenter{
    text-align: center;
}

.nav-item{
    margin: 5pt;
}

.mytoggle{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;

    .button{
        background-color: #d2d2d2;
        width: 2em;
        height: 1.1em;
        border-radius: 200px;
        cursor: pointer;
        position: relative;
        transition: 0.2s;
        border:2pt solid black;
    }
    .button::before{
        position: absolute;
        content: '';
        background-color: #fff;
        width: .9em;
        height: 1em;
        border-radius: 200px;
        transition: 0.2s;
    }
    input{
        display: none;
    }
    input:checked + .button{
        background-color: #20096d;

    }
    input:checked + .button::before{
        transform: translateX(-1em);
    }

    div{
        color: #0d6efd;
        font-size: 26pt;
    }
}

.dark-mode{
    background-color: black;

    #homePersonalPhotoContainer{
        background: linear-gradient(to bottom,#3fea2c, #31c47f 50%,black 50%);
    }

    .resume{
        background-color:#fdfdff;
    }
    
    #linkin{
        fill: white;
    }

    h2{
        color:#8383f2;
    }
    
    p{
        color:rgb(127, 218, 52);
    }

}

#featured-3{
    margin: 0;
}
#introPanel{
    background-image: url("../assets/images/forest1.jpg");
}

#personalPhoto{
    border-radius: 50%;
}

#homePersonalPhotoContainer{
    display: flex; 
    width:100%; 
    height: 20rem; 
    position: relative; 
    background: linear-gradient(to bottom,#3fea2c, #31c47f 50%,white 50%); 
    flex-wrap: wrap; 
    align-content: center;
}

#nav-dropdown-heading{
    text-align: center;
    display: none;
    align-items: center;
}

#navSmallContainer{
    display: none;
}

@media(max-width:1000px) {
    #start_page_intro{
        order: -1;
        text-align: center;
    }
    #start_page{
        justify-content: center;
    }

    #nav-dropdown-heading{
        display: inline;
    }

    #navSmallContainer{
        display: contents;
    }


    .hobby-image{
        width: 200px;
        height:200px;
    }
    iframe{
        width: 400px;
        height:200px;
    }
    .hobbie{
        order:2;
    }
    .websiteHeader{
        display: none;
    }
    header{
        justify-content: center;
        display: flex;
        .dropdown{
            float:right;
        }
        background-image: url("../assets/images/soft.gif");
    }
    .dropdown{
        display:contents;
    }
    
}

@media print{

    #homePictureIntro{
        visibility:hidden;
        width:0;
        height:0;
    }

    #introPanel{
        background-image: none;
    }

    #homePersonalPhotoContainer{
        display: none;
    }

    #aboutSummaryHeader{
        background-image: none;
    }

    .carousel{
        display: none;
    }

    #resumeTitle{
        background-image: none;
    }

    h1, h2, h3, h4, p, a, li, li li, .span-clickable, .nav-link{
        color: black;
    }

    *{
        margin: 0;
        padding: 0;
    }
}