p{
    font-size: 2em;
    font-family: Italianno;
    color:rgb(127, 218, 52);
}

h1{
    font-size: 5em;
    font-family: Zeyada;
    color:rgb(44, 206, 44);
}

h2{
    font-size: 4em;
    font-family: Zeyada;
    color: blue;
}

h3{
    font-size: 2em;
    font-family: Italianno;
    color:rgb(44, 206, 44);
}

h4{
    font-size:1em;
}

header{
    justify-content: center;
}

li{
    font-size: 26pt;
    font-family: Italianno;
    color:rgb(44, 206, 44);
}

li li{
    font-family: Italianno;
    color:rgb(127, 218, 52);
}

.resume{
    background-color: floralwhite;
    margin-bottom: 5rem;
}

.captioning{
    font-size: 12pt;
}

.site_font{
    font-family: Zeyada;
    color:rgb(44, 206, 44);
}

.site_font_alternative{
    font-family: Italianno;
    color:rgb(113, 211, 34);
}

.caption_email{
    font-size: 18pt;
    font-family: Italianno;
    color:rgb(113, 211, 34);
    text-wrap: none;
}

.hobbieContainer{
    margin-left: 0;
}

.no-margins{
    margin: 0;
}

.hobby-image{
    max-width: 400px;
    min-width: 200px;
    width: 400px;
    height:400px;
}

.pdf-container{
    justify-content: end;
    margin-bottom: 2em;
}

.pdf-button{
    border-radius: 20%;
    background-color: blue;
    color:rgb(127, 218, 52);
}

.customHeader{
    background-image: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}


iframe{
    max-width: 400px;
    min-width: 200px;
}

#featured-3{
    margin: 0;
}

#contactHeading{
    text-align: center;
}

#introPanel{
    background-image: url("../assets/images/forest1.jpg");
}

#personalPhoto{
    border-radius: 50%;
}

#homePersonalPhotoContainer{
    display: flex; 
    width:100%; 
    height: 20rem; 
    position: relative; 
    background: linear-gradient(to bottom,#3fea2c, #31c47f 50%,white 50%); 
    flex-wrap: wrap; 
    align-content: center;
}

.restrictedSize{
    max-width: 400px;
    min-width: 200px;
}

.mytoggle{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;

    .button{
        background-color: #d2d2d2;
        width: 2em;
        height: 1.1em;
        border-radius: 200px;
        cursor: pointer;
        position: relative;
        transition: 0.2s;
        border:2pt solid black;
    }
    .button::before{
        position: absolute;
        content: '';
        background-color: #fff;
        width: .9em;
        height: 1em;
        border-radius: 200px;
        transition: 0.2s;
    }
    input{
        display: none;
    }
    input:checked + .button{
        background-color: #20096d;

    }
    input:checked + .button::before{
        transform: translateX(-1em);
    }
    div{
        color: blue;
        font-size: 16pt;
    }
}

.websiteHeader{
    :last-child{
        align-content: center;
    }
}

.dropdown{
    display: none;
}

.dropdown-toggle{
    color:blue;
    background-color: transparent;
    border:none;
}
.dropdown-toggle:hover{
    background-color: green;
}

.dropdown-item{
        color: blue;
}
.dropdown-item:hover{
    color:green;
}
.dropdown-toggle:focus{
    background-color: green;
}


@media(max-width:1000px) {
    #start_page_intro{
        order: -1;
        text-align: center;
    }
    #start_page{
        justify-content: center;
    }
    .hobby-image{
        width: 200px;
        height:200px;
    }
    iframe{
        width: 400px;
        height:200px;
    }
    .hobbie{
        order:2;
    }
    .websiteHeader{
        display: none;
    }
    header{
        justify-content: right;
    }
    .dropdown{
    display:contents;
}
    
}

.dark-mode{
    background-color: black;

    #homePersonalPhotoContainer{
        background: linear-gradient(to bottom,#3fea2c, #31c47f 50%,black 50%);
    }

    .resume{
        background-color:lavender
    }
    
    #linkin{
        fill: white;
    }
}

.for-pdf{
    background-color: white;
    color:black;
    background-image: none;
}


@media print{

    #homePictureIntro{
        visibility:hidden;
        width:0;
        height:0;
    }

    #introPanel{
        background-image: none;
    }

    #homePersonalPhotoContainer{
        display: none;
    }

    #aboutSummaryHeader{
        background-image: none;
    }

    .carousel{
        display: none;
    }

    #resumeTitle{
        background-image: none;
    }

    h1, h2, h3, h4, p, a, li, li li, .nav-link{
        color: black;
    }

    *{
        margin: 0;
        padding: 0;
    }

}